.intro h1 {
  margin: 0 auto;
  max-width: 12ch;
  color: var(--clr-primary-800);
}
.intro p {
  margin: 0 auto;
  margin-top: 1em; 
  max-width: 25rem;
  color: var(--clr-neutral-400);
}

.intro {
  animation: slide-in-left 1s;
}

/* Media Queries */
@media (min-width: 50rem) {
  .intro h1, .intro p {
    margin-left: 0;
  }
  .intro {
    animation: slide-in-left 1s;
  }
}
